{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-2">
        <div class="bg-light mt-3 border-radius-10 semi">
            <div class="container p-5">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn bg-dark text-light btn-lg">Изменить профиль</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock%}