{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container d-grid gap-2 col-3 mx-auto mt-3 mb-2">
    <div class="bg-light mt-3 p-4 border-radius-10 semi">
        <div class="container p-4">
            <div class="text-center">
            <h2>Смена пароля</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid gap-2 col-12 mx-auto mt-5 mb-2">
                <button type="submit" class="btn bg-dark text-light btn-lg">Изменить пароль</button>
            </div>
        </form>
        </div>

    </div>
</div>

{% endblock%}